/*body{background-image: url("images/72019_top.webp");background-position: center top;background-repeat: repeat;}*/
#topmenu{width: 100%;height: 41px;background-color: rgb(166,146,108);}
.topall{width: 980px;height: 41px;margin: auto;}
.topallbuttom{float: left; width: 90px;background-image: url("images/icenter.32-jan140807095541.png");background-position: -62px 0;height: 41px;display:block;}	
/*.topallli1{width: 91px;height: 41px;background-image: url("images/102.ie6-jan140811165800.png");background-position: -740px -50px;}*/
.topallul{display: block;width: 460px;height: 41px;float: left;margin-left: 10px;}
.topallli{display: block;float: left;}

.topallli1{padding:0 10px 0 10px;float: left;width: auto;height: 100%;}
.special{background-color: rgb(191,171,134);}
.topallli2{padding:0 10px 0 10px;float: left;position: relative;height: 100%;}
.topallli2div1{position:absolute;top: 41px;left: -1px;background-color: rgb(255,255,255);border: 1px solid  rgb(166,146,108);border-top: 0;display: none;z-index: 1000;}
#topallli2div11{width: 496px;height: 193px;padding: 30px 0 0 24px;}
#topallli2div12{width: 496px;height: 282px;padding: 30px 0 0 24px;}
#topallli2div13{width: 496px;height: 312px;padding: 30px 0 0 24px;}
#topallli2div14{width: 496px;height: 270px;padding: 30px 0 0 24px;}
.topallli2div11left{width: 78px;height: 193px;float: left;}
.topallli2div11right{width: 418px;height: 193px;float: left;}
.topallli2div12left{width: 78px;height: 282px;float: left;}
.topallli2div12right{width: 418px;height: 282px;float: left;}
.topallli2div13left{width: 78px;height: 312px;float: left;}
.topallli2div13right{width: 418px;height: 312px;float: left;}
.topallli2div14left{width: 78px;height: 270px;float: left;}
.topallli2div14right{width: 418px;height: 270px;float: left;}

.topallli2div1div{width: 24px;height: 24px;padding: 12 12 12 12;border: 1px solid #ccc;}
.topallli2div1div:hover{border-color: rgb(147,197,236);}
.topallli2div1divdiv{width: 24px;height: 24px;}

.topallli2div1divdivpo1{background-position: -39px -102px;background-image: url("images/icenter-jan140807095541.png");}
.topallli2div1divdivpo2{background-position: -189px -102px;background-image: url("images/icenter-jan140807095541.png");}
.topallli2div1divdivpo3{background-position: -282px -28px;background-image: url("images/icenter.32-jan140807095541.png");}
.topallli2div1divdivpo4{background-position: -64px -102px;background-image: url("images/icenter-jan140807095541.png");}
.topallli2div1divdivpo5{background-position: -89px -102px;background-image: url("images/icenter-jan140807095541.png");}
.topallli2div1divdivpo6{background-position: -114px -102px;background-image: url("images/icenter-jan140807095541.png");}
.topallli2div1divdivpo7{background-position: -139px -102px;background-image: url("images/icenter-jan140807095541.png");}
.topallli2div1divdivpo8{background-position: -164px -102px;background-image: url("images/icenter-jan140807095541.png");}

.topallli2div1 p8{width: 50px;height: 74px;display: block;padding-bottom: 17px;}
.topallli2div11lefta{width: 50px;height: 19px;display: block;text-align: center;font-size: 12px;padding-top: 5px;text-decoration: none;color: rgb(139,139,139);font-weight: bolder;font-family: punctuation,\5FAE\8F6F\96C5\9ED1;}
.topallli2div11lefta:hover{text-decoration: underline;}

.topallli2div11rightdiv{width: 399px;height: 166px;border-left: 1px solid #ccc;}
.topallli2div11rightdiv p9{width: 350px;height:50px;margin-left: 19px;display: block;padding: 0 10px 0 20px;}
.topallli2div11rightdiv p10{width: 350px;height:23px;margin-left: 19px;display: block;padding-bottom: 10px;padding: 0 10px 0 20px;}
.topallli2div11rightdiva{width: 50px;height: 50px;margin-left: 10px;margin-right: 10px;display: block;float: left;background-image: url("images/icenter-jan140807095541.png");}
.topallli2div11rightdivaa{width: 50px;height: 23px;margin-left: 10px;margin-right: 10px;display: block;float: left;text-align: center;font-size: 12px;text-decoration: none;color: rgb(139,139,139);font-family: punctuation,\5FAE\8F6F\96C5\9ED1; }
.topallli2div11rightdivaa:hover{text-decoration: underline;}

#topallli2div11rightdiva1{background-position: 0 0;}
#topallli2div11rightdiva2{background-position: 0 -51;}
#topallli2div11rightdiva3{background-position: -51 0;}
#topallli2div11rightdiva4{background-position: -51 -51;}
#topallli2div11rightdiva5{background-position: -102 0;}
#topallli2div11rightdiva6{background-position: -102 -51;}
#topallli2div11rightdiva7{background-position: -153 0;}
#topallli2div11rightdiva8{background-position: -153 -51;}
#topallli2div11rightdiva9{background-position: -204 0;}
#topallli2div11rightdiva10{background-position: -204 -51;}



.topallli2div12rightdiv{width: 375px;height: 255px;border-left: 1px solid #ccc;padding-left: 24px;}
.topallli2div12rightdivtitle{width: 356px;height: 24px;}
.topallli2div12rightdivtitleinput{width: 86px;height: 23px;float: right;border-radius: 5px;}
.topallli2div12rightdivtitlespan{font-size: 12px;line-height: 23px;}
.topallli2div12rightdivtitlebuttom{width: 16px;height: 16px;background-image: url("images/profile-yog140731111156.png");background-position:-683px -85px; float: right;margin-top: 4px;margin-right: 5px;}

.topallli2div12rightdivul{width: 391px;height: 210px;}
.topallli2div12rightdivul p10{width: 70;height: 105px;margin-right: 25px;float: left;}
.topallli2div12rightdivul img{width: 70px;height: 70px;}
.topallli2div12rightdivulnumbera{text-align: center;font-size: 12px;color: rgb(198,198,198);display: block;text-decoration: none;}



.topallli2div13rightall{width: 418px;height: 259px;border-left: 1px solid #ccc;}
.topallli2div13rightall p11{height: 80px;margin-bottom: 9px;width: 83px;display: block;float: left;} 
.topallli2div13rightall  img{width: 50px;height: 50px;margin-left: 16px;}
.topallli2div13rightalla{margin-top: 8px; font-size: 12px;line-height: 14px;color: rgb(98,98,98);text-decoration: none;text-align: center;display: block;}

.topallli2div14rightall{width: 400px;height: 240px;border-left: 1px solid #ccc;padding-left: 18px;}
.topallli2div14rightalltitle{width: 400px;height: 18px;}
.topallli2div14rightalltitlea{font-size: 12px;display: block;float: left;text-decoration: none;color: #403e3b;}
.topallli2div14rightalltitlea:hover{text-decoration: underline;}
.topallli2div14rightalltitle span{float: left;font-size: 12px;margin-left: 5px;margin-right: 5px;}
.topallli2div14rightacontent p12{width: 200px;height: 100px;float: left;display: block;padding-top: 11px;}



.topall p{width: 16px;height: 16px;background-image: url("images/102.ie6-jan140811165800.png");margin-top: 12px;margin-right: 7px;float: left;}
.topall p1{width: auto;height: auto; float: left;border: 3px solid rgb(255,255,255);margin-top: 19px;margin-left: 5px;border-left-color: transparent;border-right-color: transparent;border-bottom-color: transparent; }
.topallli1a{height: 14px;width: auto;float: left;display: block;line-height: 41px;text-decoration: none;color: rgb(255,255,255);font-size: 12px;}
.topallli2a{height: 14px;width: auto;float: left;display: block;line-height: 41px;text-decoration: none;color: rgb(255,255,255);font-size: 12px;}
.p1{background-position:-734px -50px;}
.p2{background-position:-734px -100px;}
.p3{background-position:-734px -75px;}
.p4{background-position:-734px -125px;}
.p5{background-position:-734px -150px;}

#all{background-image: url("images/72019_top.webp");background-position: center top;background-repeat: repeat;width: 100%;height: 100%;}

#title{width: 1000px;height:100px;margin: auto;padding-top: 20px;}
.titlespan2{background-image: url("images/qz_qzone_lv-jan140807095541.png");background-position: -34 0;display: block;width: 16px;height: 16px;float: left;margin-top: 15px;}
.titlespan1{font-size: 30px;font-weight: bolder;float: left;color: rgb(166,146,108);}

#personalmenu{width: 1000px;height:150px;margin: auto;}
.personpic{width: 128px;height: 128px;display: block;}
.personpic img{width: 128px;height: 128px;}
.personalmenuname{float: left;position: relative;top:-70px;left: 180px;font-size: 20px;color: rgb(166,146,108);font-weight: bolder;}
.personalmenunameimg1{margin-left: -9px;}
.personalmenumenu{width: 700;height:22px;}
.personalmenumenu a{margin-left: 8px;margin-right: 10px;font-size: 14px;color: #403e3b;text-decoration: none;}
.personalmenumenu a:hover{text-decoration: underline;}
.personalmenuright{width: 148px;height: 35px;position: relative;top: -100px;left: 820px;background-image: url("images/btn-x.png");border-radius: 3px;}
.personalmenurightleft{display: block;width: 80px;height: 35px;float: left;}
.personalmenurightleftspan1{float: left;background-image: url("images/icenter.32-jan140807095541.png");background-position: -130px -42px;width: 20px;height: 20px;display: block;margin-left: 10px;}
.personalmenurightleftspan2{float: left;font-size: 14px;color: rgb(255,255,255);margin-left: 10px;}
.personalmenurightleftspan3{float: left;border-right: 1px solid #ccc;width: 5px;height: 32px;display: block;margin-top: -8px;}
.personalmenurightleftspan4{float: left;font-size: 12px;color: rgb(255,255,255);margin-left: 10px;}
.personalmenurightright{width: 60px;height: 32px;float:right;display: block;}


#contentall{width: 1000px;height: 2200px;margin: auto;padding-top: 40px;}
.contentallleft{width: 170px;height: 1000px;display: block;float: right;}
.contentallcontent{width: 534px;height:auto;float:right;display: block;margin-left: 33px;margin-right: 33px;}
.contentallright{width: 230px;height: 1900px;float: right;display: block;}
.contentallright1{width: 228px;height: 70px;background-color:rgb(248,246,242);border: 1px solid #ccc;}
.contentallright2{display: block; margin-top: 10px; width: 220px;height: 120px;border: 1px solid rgb(191,171,134);background-color: rgb(234,234,234);padding: 5 5 5 5;}
.contentallright22{background-image: url("images/0.jpg");display: block;width: 220px;height: 120px;}

.contentallright3{width: 230px;height: 308px;margin-top: 10px;background-color:rgb(248,246,242);border: 1px solid #ccc;}
.contentallright4{width: 230px;height: 272px;background-color:rgb(248,246,242);border: 1px solid #ccc;margin-top: 10px;}
.contentallright5{width: 230px;height: 258px;background-color:rgb(248,246,242);border: 1px solid #ccc;margin-top: 10px;}
.contentallright6{width: 230px;height: 392px;background-color:rgb(248,246,242);border: 1px solid #ccc;margin-top: 10px;}
.contentallright7{width: 230px;height: 349px;background-color:rgb(248,246,242);border: 1px solid #ccc;margin-top: 10px;}


.contentallleft1{width: 168px;height: 454px;background-color:rgb(248,246,242);border: 1px solid #ccc;}
.contentallleft2{width: 168px;height: 496px;background-color:rgb(248,246,242);border: 1px solid #ccc;margin-top: 10px;}
.contentallleft3{width: 168px;height: 288px;background-color:rgb(248,246,242);border: 1px solid #ccc;margin-top: 10px;}
/*.contentallleft4{width: 168px;height: 253px;background-color:rgb(248,246,242);border: 1px solid #ccc;margin-top: 10px;}*/
.contentallleft5{width: 168px;height: 255px;background-color:rgb(248,246,242);border: 1px solid #ccc;margin-top: 10px;}
.contentallleft6{width: 168px;height: 286px;background-color:rgb(248,246,242);border: 1px solid #ccc;margin-top: 10px;}

.contentallcontent1{width: 534px;height: 109px;background-color:rgb(248,246,242);border: 1px solid #ccc;}
.contentallcontent2{width: 534px;height: 56px;background-color:rgb(248,246,242);border: 1px solid #ccc;margin-top: 10px;}
.contentallcontent3{width: 534px;height: 43px;background-color:rgb(248,246,242);border: 1px solid #ccc;margin-top: 10px;}
.contentallcontent4{width: 534px;height: auto;background-color:rgb(248,246,242);border: 1px solid #ccc;margin-bottom: 10px;}

.contentallright3title{width: 230px;height: 39px;font-size: 12px;line-height: 39px;font-weight:bolder;}
.contentallright3content p13{width: 220px;height: 89px;display: block;float: left;padding-left: 10px;}
.p13left{width: 80px;height: 60px;float: left;}
.p13right{width: 130px;height: 60px;float: left;margin-left: 10px;}
.p13righttitle{font-size: 13px;text-decoration: none;color: #403e3b;line-height: 20px;}
.p13rightcontent{width: 130px;height: 16px;display: block;}
.p13rightcontentleft1{background-image: url("images/102.32-jan140811165800.png");background-position: -915px -25px;display: block;width: 16px;height: 16px;float: left;}
.p13rightcontentleft2{background-image: url("images/102.32-jan140811165800.png");background-position: -940px -25px;display: block;width: 16px;height: 16px;float: left;}
.p13rightcontentleft3{background-image: url("images/102.32-jan140811165800.png");background-position: -915px -75px;display: block;width: 16px;height: 16px;float: left;}
.p13rightcontentleft{font-size: 12px;;text-decoration: none;color: #403e3b;}
.p13rightcontentright{font-size: 12px;border: 1px solid #ccc;}

.contentallright4title{width: 230px;height: 39px;font-size: 12px;line-height: 39px;}
.contentallright4title1:hover{text-decoration: underline;}
.contentallright4title1special{font-weight: bolder;}
.contentallright4content{width: 209px;height: 170px;padding-left: 10px;}
.contentallright4contentdiv{width: 209px;height: 50px;float: left;margin-bottom: 5px;}
.contentallright4contentdivleft{display: block;float: left;}
.contentallright4contentdivleft img{width: 50px;height: 50px;}
.contentallright4contentdivmiddle{width: 80px;height: 44px;float: left;margin-left: 5px;}
.contentallright4contentdivmiddlea1{font-size: 14px;text-decoration: none;color: #403e3b;width: 80px;height: 30px;display: block;line-height: 30px;}

.contentallright4contentdivmiddlea21{background-image: url("images/102.32-jan140811165800.png");background-position: -940px -150px;width: 16px;height: 16px;float: left;margin-right: 15px;}
.contentallright4contentdivmiddlea2{text-decoration: none;color: #403e3b;display: block;font-size: 12px;}
.contentallright4contentdivmiddlea2:hover{text-decoration: underline;}
.contentallright4contentdivright{width: 70px;height: 30px;float: left;margin-top: 6px;font-size: 14px;border: 1px solid #ccc;text-align: center;line-height: 30px;border-radius: 3px;}
.contentallright4contentdivright:hover{background-color: rgb(238,235,226);}
.contentallright5contentdivright{width: 70px;height: 30px;float: left;margin-top: 6px;font-size: 12px;border: 1px solid #ccc;text-align: center;line-height: 30px;border-radius: 3px;}
.contentallright5contentdivright:hover{background-color: rgb(238,235,226);}
.contentallright4contentdivmiddlea22div{margin-top: 7px; float: left; width: 16px;height: 16px; background-image: url("images/icenter.32-jan140807095541.png");background-position: -321px -17px;}

.contentallright4bottom span{font-size: 13px;line-height: 20px;color:#99958d;width: 210px;display: block;margin-left: 5px;}
.contentallright4bottom a{float: 14px;text-decoration: none;color:#99958d; }
.contentallright4bottom a:hover{text-decoration: underline; }

.contentallright6content{width: 219px;height: 300px;}
.contentallright6content p14{width: 68px;height: 94px;float: left;display: block;margin-left: 5px;text-align: center;font-size: 14px;}
.contentallright7 img{width: 228px;height: 260px;}

.contentallleft1div{background-image: url("images/102.32-jan140811165800.png");background-position: -815px -75px;width: 16px;height: 16px;float: left;margin-left: 15px;margin-top: 12px;margin-right: 10px;}
.contentallleft2div{background-image: url("images/102.32-jan140811165800.png");background-position: -340px -50px;width: 16px;height: 16px;float: left;margin-left: 15px;margin-top: 12px;margin-right: 10px;}
.contentallleft3div{background-image: url("images/102.32-jan140811165800.png");background-position: -465px -100px;width: 16px;height: 16px;float: left;margin-left: 15px;margin-top: 12px;margin-right: 10px;}
.contentallleft4div{background-image: url("images/102.32-jan140811165800.png");background-position: -415px -25px;width: 16px;height: 16px;float: left;margin-left: 15px;margin-top: 12px;margin-right: 10px;}
.contentallleft5div{background-image: url("images/102.32-jan140811165800.png");background-position: -890px -50px;width: 16px;height: 16px;float: left;margin-left: 15px;margin-top: 12px;margin-right: 10px;}
.contentallleft6div{background-image: url("images/102.32-jan140811165800.png");background-position: -865px -125px;width: 16px;height: 16px;float: left;margin-left: 15px;margin-top: 12px;margin-right: 10px;}
.contentallleft7div{background-image: url("images/102.32-jan140811165800.png");background-position: -815px -125px;width: 16px;height: 16px;float: left;margin-left: 15px;margin-top: 12px;margin-right: 10px;}
.contentallleft8div{background-image: url("images/102.32-jan140811165800.png");background-position: -840px -75px;width: 16px;height: 16px;float: left;margin-left: 15px;margin-top: 12px;margin-right: 10px;}
.contentallleft9div{background-image: url("images/102.32-jan140811165800.png");background-position: -815px -175px;width: 16px;height: 16px;float: left;margin-left: 15px;margin-top: 12px;margin-right: 10px;}
.contentallleft10div{background-image: url("images/102.32-jan140811165800.png");background-position: -840px -175px;width: 16px;height: 16px;float: left;margin-left: 15px;margin-top: 12px;margin-right: 10px;}
.contentallleft11div{background-image: url("images/102.32-jan140811165800.png");background-position: -890px 0;width: 16px;height: 16px;float: left;margin-left: 15px;margin-top: 12px;margin-right: 10px;}
.contentallleft12div{background-image: url("images/102.32-jan140811165800.png");background-position: -840px -125px;width: 16px;height: 16px;float: left;margin-left: 15px;margin-top: 12px;margin-right: 10px;}



.contentallleft1 p15{width: 168px;height: 38px;display: block;line-height: 38px;font-size: 14px;font-family:  punctuation,\5FAE\8F6F\96C5\9ED1;}
.contentallleft1 p15:hover{background-color: rgb(230,225,211);}
.p12special{background-color: rgb(230,225,211);font-weight: bolder;}

.contentallleft2 p16{width: 168px;height: 38px;display: block;line-height: 38px;font-size: 14px;font-family:  punctuation,\5FAE\8F6F\96C5\9ED1;}
.contentallleft2 p16:hover{background-color: rgb(230,225,211);}
.contentallleft3 a{font-size: 12px;line-height: 40px;text-decoration: none;color:#99958d; }
.contentallleft3 a:hover{text-decoration: underline;}

.contentallleft5 a{font-size: 14px;line-height: 40px;text-decoration: none;color:#99958d; }
.contentallleft5 a:hover{text-decoration: underline;}

.contentallleft6 a{font-size: 12px;line-height: 1.334;text-decoration: none;color:#99958d; }
.contentallleft6 a:hover{text-decoration: underline;}

.contentallcontent1top{width: 534px;height: 68px;border-bottom: 1px solid #ccc;}
.contentallcontent1left{width: 385px;height: 68px;float: left;}
.contentallcontent1left textarea{width: 385px;height: 68px;color:#99958d;border: 0;float: left;}
.contentallcontent1right{width: 147px;height: 68px;float: left;}
.contentallcontent1rightbottom{width: 24px;height: 24px;float: left;display: block;padding: 22 12 22 12;border-left: 1px solid #ccc;}
.contentallcontent1rightbottom1{width: 24px;height: 24px; background-image: url("images/102.32-jan140811165800.png");background-position: -490px -50px;}
.contentallcontent1rightbottom1:hover{background-position: -490px -75px;}
.contentallcontent1rightbottom2{width: 24px;height: 24px; background-image: url("images/102.32-jan140811165800.png");background-position: -490px -100px;}
.contentallcontent1rightbottom2:hover{background-position: -490px -125px;}
.contentallcontent1rightbottom3{width: 24px;height: 24px; background-image: url("images/102.32-jan140811165800.png");background-position: -490px -150px;}
.contentallcontent1rightbottom3:hover{background-position: -490px -175px;}

.contentallcontent2 a{margin-top: 15px;display: block;float: left;margin-left: 10px;font-size: 14px;color:#99958d;text-decoration: none;line-height: 30px; }

.contentallcontent3left{width: 77px;height: 30px;padding: 8 14 0 14;float: left;}
.contentallcontent3leftbuttom1{font-size: 14px;text-decoration: none;float: left;margin-right: 5px;margin-top: 5px;color:rgb(0,0,0);font-weight: bolder; }
.contentallcontent3leftbuttom2{float: left; display: block;width: 10px;height: 10px;margin-top: 10px; background-image: url("images/102.32-jan140811165800.png");background-position: -390px -150px;}

.contentallcontent3right{width: 65px;height: 22px;padding: 11 11 0 0;float: right;display: block;}
.contentallcontent3rightbuttom1{margin-top: 5px; float: right;width: 16px;height: 16px; background-image: url("images/102.32-jan140811165800.png");background-position:-715px -75px;}
.contentallcontent3rightbuttom1:hover{background-position: -965px -25px; }
.contentallcontent3right span{float: right;color: #e0dbd1;font-family: punctuation,\5FAE\8F6F\96C5\9ED1;margin-left: 10px;margin-right: 10px;}

.contentallcontent3rightbuttom2{margin-top: 5px; float: right;width: 16px;height: 16px; background-image: url("images/102.32-jan140811165800.png");background-position: -940px -175px;}
.contentallcontent3rightbuttom2:hover{background-position: -965px 0;}

.contentallcontent4contentwriter{width: 532px;height: 50px;margin-bottom: 12px;padding-top: 15px;}
.writer{width: 50px;height: 50px;padding-left: 10px;padding-right: 10px;float: left;}
.writer img{width: 50px;height: 50px;}
.contentallcontent4contentwriterrighta{display: block;font-size: 14px;height: 30px;text-decoration: none;line-height: 30px;color: rgb(0,0,0);}
.contentallcontent4contentwriterrightspan{font-size: 12px;color:#99958d; float: left;}
.contentallcontent4contentwriterrighta2{background-image: url("images/102.32-jan140811165800.png");background-position: -390px -175px;width: 16px;height: 16px;display: block;float: left;margin-left: 5px;margin-right: 5px;}
.contentallcontent4contentwriterrighta3{display: block;font-size: 12px;text-decoration: none;color:#99958d;float: left;}

.contentallcontent4nerirong{width: 512px;height: 460px;}
.contentallcontent4nerirong span{margin-left: 20px;margin-top: 20px;}
.contentallcontent4nerirongimg{width: 512px;height:384px; margin-top: 20px;margin-left: 10px;}
.contentallcontent4nerirongimg img{height: 384px;}
.pl{width: 534px;height: auto;background-color: #eeebe2;border-top: 1px solid #ccc;}
.p161{margin-top: 10px;display: block;height: 40px;width: 534px;}
.p161 a{border: 1px solid #eeebe2;float: left;display: block;height: 28px;margin-left: 10px;text-decoration: none;color: #99958d;width: 63px;text-align: center;line-height: 28px;}
.p161 a:hover{background-color: rgb(255,255,255);border: 1px solid #ccc;}
.p161 span{float: left;margin-left: 20px; color:#99958d; line-height: 28px;}
.pli1{margin-left: 5px;margin-top: 6px; float: left; display: block; width: 16px;height: 16px;background-image: url("images/102.32-jan140811165800.png");background-position:-390px -25px; }
.pli2{margin-left: 5px;margin-top: 6px;float: left; display: block; width: 16px;height: 16px;background-image: url("images/102.32-jan140811165800.png");background-position:-390px -50px; }
.pli3{margin-left: 5px;margin-top: 6px;float: left;display: block; width: 16px;height: 16px;background-image: url("images/102.32-jan140811165800.png");background-position:-365px -150px; }
.pli4{margin-left: 5px;margin-top: 6px;float: left;display: block; width: 16px;height: 16px;background-image: url("images/102.32-jan140811165800.png");background-position:-390px -100px; }
.pli5{margin-left: 5px;margin-top: 6px;float: left;display: block; width: 16px;height: 16px;background-image: url("images/102.32-jan140811165800.png");background-position:-390px 0; }
.p162all{width:512px;height: 30px;margin: auto;border: 1px solid #ccc;}
.p162all textarea{width: 398px;height: 28px;border: 0;float: left;}
.p162buttom1{border-left: 1px solid #ccc;padding: 6 20 6 20;width: 16px;height: 16px;float: left;}
.p162buttom2{border-left: 1px solid #ccc;padding: 6 20 6 20;width: 16px;height: 16px;float: left;}
.p162buttom11{width: 16px;height: 16px; background-image: url("images/102.32-jan140811165800.png");background-position: -640px 0;}
.p162buttom11:hover{background-position: -640px -25px;}
.p162buttom21{width: 16px;height: 16px; background-image: url("images/102.32-jan140811165800.png");background-position: -640px -150px;}
.p162buttom21:hover{background-position: -640px -175px;}

.p162all2{width:512px;height: 106px;margin: auto;border: 1px solid #ccc;display: none;}
.p162all2plk{width: 512px;height: 68px;border-bottom: 1px solid #ccc;}
.p162all2plk textarea{height: 68px;width: 453px;border: 0;float: left;}
.p162all2plkbuttom{width: 56px;height: 68px;float: left;border-left: 1px solid #ccc; }
.p162all2plkbuttompic{width: 16px;height: 16px;margin-left: 20px; margin-top: 27px;background-image: url("images/102.32-jan140811165800.png");background-position: -640px 0;}
.p162all2plkbuttompic:hover{background-position: -640px -25px;}
.p162all2bqk{width: 512px;height: 38px;}
.p162all2bqka1{margin-top: 5px;margin-left: 10px; width: 16px;height: 16px;display: block;float: left;background-image: url("images/102.32-jan140811165800.png");background-position: -340px 0; }
.p162all2bqka2{margin-top: 5px;margin-left: 10px; width: 16px;height: 16px;display: block;float: left;background-image: url("images/102.32-jan140811165800.png");background-position: -465px -100px; }
.p162all2bqk3{float: right;width: 77px;height: 30px;background-color: #bfb086;text-align: center;line-height: 30px;margin-right: 10px;color: rgb(255,255,255);font-family: punctuation,\5FAE\8F6F\96C5\9ED1;}
#footer{width: 100%;height: 100px;text-align: center;}
#footer p17{font-size: 12px;display: block;margin-bottom: 10px;}
#footer p17 a{color: #403e3b;text-decoration: none;}
#footer p17 a:hover{text-decoration: underline;}


















