#topmenu{width: 100%;height: 107px;border-bottom: 1px solid #ccc;background-color: rgb(240,240,240);}
.topmenup1{width:224px;height: 90px;margin-left: 66px;padding-top: 14px;margin-right: 188px;float: left;}
.topmenup1a{display: block;width: 224px;height: 76px;background-image: url("images/merix_logo_text.svg");line-height: 76px;background-size: 224 76;}
.topmenup1a:hover{opacity: 0.7;}
.topmenudiv1{width: 665px;height: 104px;float: left;}
.topmenudiv1ul{width: 100%;height: 100%;overflow: hidden;display: block;}
.topmenudiv1ulli{width: 133px;height: 104px;float: left;display: block;color:rgb(0,0,0);line-height: 104px;text-align: center;cursor: pointer;}
.topmenudiv1ulli:hover{color: #d97d34;}

#middlecontent{width: 100%;height: 277px;}
#bottompicture{width: 100%;height: 283px;background-color: rgb(198,198,198);}

.qtk{width:auto;width: auto;display: block;float: right; border-right: 35px solid  rgb(255,255,255);border-top: 53px solid transparent;border-bottom: 53px solid transparent;}
.topmenudiv2{width: 315px;height: 104px;overflow: hidden; position: absolute;top: 0;left: 100%;margin-left: -381px;}
.topmenudiv2div{width: 80px;height: 104px;float: right;overflow: hidden;}
.topmenudiv2ul{width: 280px;height: 40px;padding-top: 32px;padding-bottom: 32px; display: block;float: right;background-color: rgb(255,255,255);overflow: hidden;}
.topmenudiv2ulli{width: 40px;height: 40px;display: block;float: left;text-align: center;line-height: 40px;font-size: 14px;cursor: pointer;}
.qtk2{width:auto;width: auto;display: block;float: left; border-right: 35px solid  transparent;border-top: 52px solid  rgb(255,255,255);border-bottom: 52px solid  rgb(255,255,255);}
.topmenudiv2ullia1{width: 40px;height: 40px;background-image: url("images/ul1.png");background-position: 0 0;}
.topmenudiv2ullia1:hover{width: 40px;height: 40px;background-image: url("images/1.png");background-position: 0 0; }
.topmenudiv2ullia2{width: 40px;height: 40px;background-image: url("images/ul1.png");background-position: -40 0;}
.topmenudiv2ullia2:hover{width: 40px;height: 40px;background-image: url("images/2.png");background-position: -40 0; }
.topmenudiv2ullia3{width: 40px;height: 40px;background-image: url("images/ul1.png");background-position: -80 0;}
.topmenudiv2ullia3:hover{width: 40px;height: 40px;background-image: url("images/3.png");background-position: -80 0; }
.topmenudiv2ullia4{width: 40px;height: 40px;background-image: url("images/ul1.png");background-position: -120 0;}
.topmenudiv2ullia4:hover{width: 40px;height: 40px;background-image: url("images/4.png");background-position: -120 0; }
.topmenudiv2ullia5{width: 40px;height: 40px;background-image: url("images/ul1.png");background-position: -160 0;}
.topmenudiv2ullia5:hover{width: 40px;height: 40px;background-image: url("images/5.png");background-position: -160 0; }
.topmenudiv2ullia6{width: 40px;height: 40px;}
.topmenup2{width: 66px;height: 104px;float: right;display: block;background-color: rgb(219,130,55);background-image: url("images/pic1.png");cursor: pointer;}
.ziti:hover{color: rgb(217,125,52);}
.topmenudiv2divpic{width: 48px;height: 48px; position: absolute;top: 27px;right: 1px;display: block;}

.middlecontentdiv{width: 100%;height: 97px;position: absolute;top: 50%;margin-top: -120;text-align: center;}
.middlecontentdivul{width:1000px;height: 100%;text-align: center;margin: auto;}
.middlecontentdivulli1{width:117px;height: 100%;display: inline-block;}
.middlecontentdivulli2{width:483px;height: 100%;display: inline-block;text-align: center;overflow: hidden;}
.middlecontentdivulli3{width:117px;height: 100%;display: inline-block;}

.middlecontentdivulli2li1{display: inline-block;width: 144px;height: 100%;overflow: hidden;float: left;cursor: pointer;}
.middlecontentdivulli2li1span{font-size: 48px;line-height: 97px;font-family: TTF;color:rgb(75,75,75);float: left;display: inline-block;}
.middlecontentdivulli2li2{display: inline-block;width: 168px;height: 100%;overflow: hidden;float: left;cursor: pointer;}
.middlecontentdivulli2li2span{font-size: 48px;line-height: 97px;font-family: TTF;color: rgb(217,125,52);float: left;}
.middlecontentdivulli2li3{display: inline-block;width: 200px;height: 100%;overflow: hidden;float: left;cursor: pointer;}
.middlecontentdivulli2li3span{font-size: 48px;line-height: 97px;font-family: TTF;color: rgb(75,75,75);float: left;}

.middlecontentdivulli2li1ul1{width: 344px;height: 485px;float: left;display: block;}
.middlecontentdivulli2li1ul12{width: 344px;height: 485px;}
.middlecontentdivulli2li1ul2{width:410px;height: 485px;float: left;}
.middlecontentdivulli2li1ul3{width: 355px;height: 485px;float: left;}


.middlecontentdivulli2adiv{width: 100%;height: 100%;overflow: hidden;}
.middlecontentdivulli2adivul{width: 2000px;height: 100%;}
.middlecontentdivulli2li1ul1li{top: 0;position: relative; font-size: 48px;line-height: 97px;font-family: TTF;color:rgb(75,75,75);display: block;text-align: left;}
.middlecontentdivulli2li1div{float: left;width: auto;height: auto;}
.middlecontentdivulli2li1div1{width: 1000px;height: 100%;}
.middlecontentdivulli2li1ul2li{top: 0;position: relative; font-size: 48px;line-height: 97px;font-family: TTF;color:rgb(75,75,75);display: block;text-align: left;}
.middlecontentdivulli2li1ul3li{top: 0;position: relative; font-size: 48px;line-height: 97px;font-family: TTF;color:rgb(75,75,75);display: block;text-align: left;}


.bottompicturetitle{width: 100%;height: 54px;background-color: rgb(255,255,255);border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;text-align: center;line-height: 54px;}
.bottompicturetitle a{text-decoration: none;font-size: 12px;cursor: pointer;}
.special{color: rgb(217,125,52);}
.bottompicturepiclist{width: 100%;height: 227px;}
.bottompicturepiclistpic{width: 100%;height: 227px;float: left;background-color: rgb(0,0,0);opacity: 0.7;}

.listpic1{position: relative; width: 33.3%;height: 100%; background-image: url("images/1e264f9bdd684ee2eaa0cdbfd5799486.jpg");background-position: top center;background-size: 100%;float: left;}
.listpic2{position: relative;width: 33.3%;height: 100%;background-image: url("images/26064dadadd36361e741897feca4330c.jpg");background-position: top center;background-size: 100%;float: left;}
.listpic3{position: relative;width: 33.3%;height: 100%;background-image: url("images/bc77b60c333f54e4aff83faf119a75d8.jpg");background-position: top center;background-size: 100%;float: left;}
.pictitle{position: absolute;display: block;width: 135px;height: 84px;left: 40px;top: 25px;background-image: url("images/herb_4.svg");background-size: 100%;height: 100%;background-repeat: no-repeat;}
.pictitle1{position: absolute;display: block;width: 135px;height: 84px;left: 40px;top: 25px;background-image: url("images/nokaut_5.svg");background-size: 100%;height: 100%;background-repeat: no-repeat;}
.pictitle2{position: absolute;display: block;width: 135px;height: 84px;left: 40px;top: 25px;background-image: url("images/payback_6.svg");background-size: 100%;height: 100%;background-repeat: no-repeat;}






















